.title{
    color: white;
    font-weight: 500;
    font-size: 350%;
    text-align: center;
    text-shadow: 5px 5px 12px black;
}

.btn{
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    margin: 5px 0px;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 10, 10);
}

.interactions{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 5px 0px;
}

.images{
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}